
<p id="notice"><%= notice %></p>

<p>
	  <strong>Title:</strong>
	  <%= @post.title %>
</p>
<p>
	  <strong>Content:</strong>
	  <%= @post.details %>
</p>

<% @comments.reverse.each do |c| %>
	<p>
	  <strong class="label label-primary"><%= c.user.username  %>:</strong>
	  <%= c.comment  %>
	  <span class="text-muted"><%= time_ago_in_words(c.created_at) %> ago</span>

		<% if current_user.id == @post.user.id %>
	  		<td class="text-center"><a class='btn btn-info btn-xs'><span class="glyphicon glyphicon-remove"></span>
	  		<%= link_to 'Destroy', post_comment_path(@post, c),remote: true, method: :delete, data: { confirm: 'Are you sure?' } %></a></td>
	  	<% end %>
	</p>	
<% end %>

<%= will_paginate @comments %>

<%= form_for Comment.new,remote: true, :url => post_comments_path(@post) do |f| %>
  
  <p>
  
    <%= f.label :comment %><br>
    <%= f.text_area :comment, class: "form-control" %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>
